.header
{
margin-top:35px;
background-color:#F2F2F2;
text-align:left;
}

.logo
{
margin:50px;
margin-left:190px;
}

#uscita{
	float:right;
}

.carousel1 {
    border-radius: 0px 55px 0px 55px;
    overflow: hidden;
    border-style:solid;
	border-width:3px;
	border-color:#A0A0A0;
	margin-left:200px;
	width:670px;
	height:377px;
	margin-bottom:100px;
}

.imgslide
{
	width:670px;
	height:377px;

}

.deposito
{
    width:1000px;
	border-radius:10px;
	height:50px;
}

.carousel-indicators1
{
   justify-content:left;
}

.carousel-caption1
{
    left: 55%;
}


.boxdeposito
{
	border-style:solid;
	border-width:3px;
	border-color:#A0A0A0;
	border-radius: 0px 0px 10px 10px;
	width:50%;
	margin:auto;
}
.box
{
    margin-bottom:20px;	
}

.iconafile
{
   margin:auto;
   margin-top:15px;
   width:60%;   
   text-align:center;
}
.titolodeposito
{
	color:#009EE0;
}


#uscita
{
	float:right;
}
#upload
{
	text-align:center;
    width:400px;
	height:150px;
	border-style: solid;
	padding: 20px;
	margin: 20px;
}
#carica
{
	width:350px;
}

.files
{
	padding:20px;
}
.link
{
    width:100px;
}
a
{
	text-decoration:none;
}